<%- include header.ejs %>
<ul style="list-style: none">
    <li>
        <h3>
            <a href="http://imgaojp.ga">imgaojp</a>
        </h3>
    </li>
    <li>
        <h3>
            <a href="http://imgaojp.ga">imgaojp</a>
        </h3>
    </li>
    <li>
        <h3>
            <a href="http://imgaojp.ga">imgaojp</a>
        </h3>
    </li>
    <li>
        <h3>
            <a href="http://imgaojp.ga">imgaojp</a>
        </h3>
    </li>
</ul>
<%- include footer.ejs %>